body {
    background-color: green;
}

.container {
    margin: 10%;
    text-align: center;
}

.white-keys-elements {
    padding: 100px 25px 25px;
    border: 1px solid grey;
    background-color: white;
    display: inline-block;
    height: 100px;
    width: 30px;
    margin: 0;
}

.black-keys-elements {
    border: 1px solid grey;
    padding: 70px 20px 20px;
    background-color: black;
    display: inline-block;
    width: 25px;
    height: 70px;
    color: white;
}

#first {
    position: relative;
    z-index: 1;
    left: -72px;
    top: -227px;
}

#second {
    position: relative;
    z-index: 1;
    left: -57px;
    top: -227px;
}

#third {
    position: relative;
    z-index: 1;
    left: 40px;
    top: -227px;
}

#fourth {
    position: relative;
    z-index: 1;
    left: 55px;
    top: -227px;
}

#fifth {
    position: relative;
    z-index: 1;
    left: 70px;
    top: -227px;
}
